@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;

	/* Push to bottom */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100vh;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}

header {
	flex: 1;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

header h1 {
	font-size: 60px;
}

.counters {
	background: whitesmoke;
	color: black;
	padding: 40px 20px;
	border-top: 3px lightcoral solid;
}

.counters .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.counters i {
	color: lightcoral;
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}
